repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: format
        name: format
        entry: ruff format
        language: python
        types: [python]
      - id: lint
        name: lint
        entry: ruff check --fix
        language: python
        types: [python]
